[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "cd apps/web && npx prisma generate",
  "npm run build"
]

[start]
cmd = "cd apps/web && npm run start"
